<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="dayblock.css">
    <link rel="stylesheet" href="input.css">
</head>

<body>
    <html>

    <!--父组件-->
    <div id="main-div">
        <div id="topbar-div">
            <p id="text-year">2022年</p>
            <p id="text-date">12月31日</p>
            <p id="text-time">11:59:59</p>
            <input ref="inputrange" id="inputrange" v-on:input="setheight"
                style="width: 400px;position:absolute;right:0;" type="range" min="0" max="1440" step="1">
        </div>
        <div id="dayblock-div">
            <ul id="main-ul" style="height: 100%;" v-for="item in 1">
                <li>
                    <!--子组件-->
                    <!--子向父传值3:定义事件名称showinout1所对应的父组件的响应函数showinput2-->
                    <day-block ref="dayblock" v-on:showinput1="showinput2" v-on:showindex1="showindex2" />
                </li>
                <li>
                    <day-block ref="dayblock" v-on:showinput1="showinput2" v-on:showindex1="showindex2" />
                </li>
                <li>
                    <day-block ref="dayblock" v-on:showinput1="showinput2" v-on:showindex1="showindex2" />
                </li>
                <li>
                    <day-block ref="dayblock" v-on:showinput1="showinput2" v-on:showindex1="showindex2" />
                </li>
                <li>
                    <day-block ref="dayblock" v-on:showinput1="showinput2" v-on:showindex1="showindex2" />
                </li>
                <li>
                    <day-block ref="dayblock" v-on:showinput1="showinput2" v-on:showindex1="showindex2" />
                </li>
                <li>
                    <day-block ref="dayblock" v-on:showinput1="showinput2" v-on:showindex1="showindex2" />
                </li>
            </ul>
        </div>

        <transition name="fade">
            <div id="input-div" v-show="showinput">
                <div id="input-background">

                </div>
                <div id="input-name-background">
                    <input type='text' placeholder="番名" id="input-name" cols="4" rows="30">
                </div>
                <div id="input-path-background">
                    <textarea type='url' placeholder="地址" id="input-path"></textarea>
                </div>
                <button id="input-close" v-on:click="showinput=false">
                    close
                </button>
                <button id="input-add" @click="additems2">
                    add
                </button>
            </div>
        </transition>

    </div>




    </html>
</body>

<script>
    //组件1//子组件vue，此处是全局组件，其父组件vue是所有父组件vue
    Vue.component('day-block', {
        props: {
            color: String,
        },
        data: function () {
            return {
                index: 0,
                heightnow: 394,
                maxheight: 694,
                weekday: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
                object:
                    [
                        {
                            id: 0,
                            date: 12.31,
                            time: 23.59,
                            name: '孤独摇滚',
                            path: 'http://www.996dm.com/play/2356-1-43.html',
                        },
                        {
                            id: 1,
                            date: 12.31,
                            time: 23.59,
                            name: '无职转生~到了异世界就拿出真本事',
                            path: 'https://omofun.tv/vod/type/id/20.html',
                        }
                    ]
            }
        },
        methods: {
            additems: function () {
                var inputname = document.getElementById("input-name").value;
                var inputpath = document.getElementById("input-path").value;
                this.object.push({
                    id: 2,
                    date: 12.31,
                    time: 23.59,
                    name: inputname,
                    path: inputpath,
                })
            },
            addcount() { this.object[0].num++; },
            //子向父传值1:在子组件里定义事件传出函数showinput，定义事件名称showinput1和值true
            showinput() { this.$emit('showinput1', true); this.$emit('showindex1', this.index); },
        },

        //子向父传值2:调用事件传出函数showinput，传出事件名称showinput1和值true
        template: `
        <div class="day-block" id="day-block" :style="{height: heightnow+'px'}">
            <a class="weekday">
                {{weekday[index]}}
            </a>
            <ul id="day-block-ul">
                <button id="button2" v-on:click=showinput()>show</button>
                <li v-for="(item,index) in object" :key="object.id" οnclick="window.open('http://www.huierlp.com')">
                    <a :href="''+item.path" style="text-decoration: none;">
                        <div class="clickarea">
                            <p class="itemname">
                                {{item.name}}
                            </p>
                        </div>
                    </a>
                <!--<button v-on:click='object.splice(index,1)'>删除</button>-->
                </li>
            </ul>
        </div>
        `
    })
    //组件2//父组件vue，此处对应的父组件是#main-div
    let v = new Vue({
        el: '#main-div',
        data: {
            showinput: false,
            showindex: 0,
            maincolor: ["rgba(213, 138, 251, 98)", "rgba(125, 153, 227, 89)", "rgba(149, 250, 229, 98)", "rgba(148, 227, 125, 89)", "rgba(255, 239, 130, 100)", "rgba(230, 165, 108, 90)", "rgba(255, 114, 138, 100)"],
            textcolor: ["rgba(143, 68, 181, 98)", "rgba(55, 83, 157, 89)", "rgba(79, 180, 159, 98)", "rgba(78, 157, 55, 89)", "rgba(185, 169, 60, 100)", "rgba(160, 95, 38, 90)", "rgba(185, 44, 68, 100)"],
        },
        mounted: function () {
            this.start();
        },
        methods: {
            start() {//初始化，记录dayblock自身index
                var weekday = document.getElementsByClassName("weekday");
                var dayblock = document.getElementsByClassName("day-block");
                console.log(weekday);
                this.$refs.dayblock.forEach((element, index) => {
                    element.index = index;
                    element.heightnow = 600;
                    dayblock[index].style.background = this.maincolor[index];
                    weekday[index].style.color = this.textcolor[index];
                });
            },
            setheight() {
                document.getElementById("text-time").innerText = 
                Math.floor(this.$refs.inputrange.value / 60) + ":" + this.$refs.inputrange.value % 60;

                this.$refs.dayblock[0].heightnow = this.$refs.dayblock[0].maxheight * this.$refs.inputrange.value / 1440;
            },
            //父向子传值，直接用refs获取子组件，然后调用子组件函数
            additems2() { this.$refs.dayblock[this.showindex].additems() },
            addcount2() { this.$refs.dayblock.addcount() },
            //子向父传值4:函数响应，取值val，完成传值
            showinput2(val) { this.showinput = val },
            showindex2(val) { this.showindex = val }
        }
    })

</script>